body {
font-family:'Russo One', sans-serif;
font-weight: 800;
color:darkred; 
}

h6,
h5,
h4,
h3,
h2,
h1{
	font-family: 'Hind', sans-serif;
font-weight:600
	}

.navbar-brand img {width:300px}

#footer {background-color:darkblue;color:#fff}

#lowerfooter {background-color:black;}

#lowerfooter i   {font-size:60px;color:grey;margin:16px 12px 8px 3px}


